<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-language me-3"></i>EnglishMaster</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <!-- SỬA LỖI: Chỉ dùng class active khi không có tham số đăng nhập (chỉ ở trang chủ sạch) -->
            <a href="/" class="nav-item nav-link active">Trang chủ</a>

            <a href="/about" class="nav-item nav-link">Giới thiệu</a>
            <a href="/courses" class="nav-item nav-link">Khóa học</a>
            <a href="/tests" class="nav-item nav-link">Thi thử</a>
            <a href="/team" class="nav-item nav-link">Đội ngũ</a>


            
            <a href="/contact" class="nav-item nav-link">Liên hệ</a>
            <a href="/cart" class="nav-item nav-link position-relative">
                <i class="fa fa-shopping-cart"></i> Giỏ hàng
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">0</span>
            </a>
        </div>

        <!-- LOGIC ẨN/HIỆN TÊN NGƯỜI DÙNG VÀ NÚT ĐĂNG XUẤT -->
        {{#if isLoggedIn}}
            <a href="/profile" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
                Xin chào, {{currentUserName}}!
            </a>
        {{else}}
            <!-- Hiển thị nút Đăng ký ngay khi chưa đăng nhập -->
            <a href="/register" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đăng ký ngay<i class="fa fa-arrow-right ms-3"></i></a>
        {{/if}}
    </div>
</nav>