<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa {{site.logoIcon}} me-3"></i>{{site.logoText}}</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link {{#if (eq activePage 'home')}}active{{/if}}">Trang chủ</a>
            <a href="/about" class="nav-item nav-link {{#if (eq activePage 'about')}}active{{/if}}">Giới thiệu</a>
            <a href="/courses" class="nav-item nav-link {{#if (eq activePage 'courses')}}active{{/if}}">Khóa học</a>

            <a href="/team" class="nav-item nav-link {{#if (eq activePage 'team')}}active{{/if}}">Đội ngũ</a>
            <a href="/blog" class="nav-item nav-link {{#if (eq activePage 'blog')}}active{{/if}}">Bài viết</a>
            <a href="/reviews" class="nav-item nav-link {{#if (eq activePage 'reviews')}}active{{/if}}">Đánh giá</a>
            <a href="/contact" class="nav-item nav-link {{#if (eq activePage 'contact')}}active{{/if}}">Liên hệ</a>

        </div>

        <!-- LOGIC ẨN/HIỆN TÊN NGƯỜI DÙNG VÀ NÚT ĐĂNG XUẤT -->
        {{#if isLoggedIn}}
            <a href="/profile" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">
                Xin chào, {{currentUserName}}!
            </a>
        {{else}}
            <!-- Hiển thị nút Đăng ký ngay khi chưa đăng nhập -->
            <a href="/register" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đăng ký ngay<i class="fa fa-arrow-right ms-3"></i></a>
        {{/if}}
    </div>
</nav>