<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Giáo Viên Bản Ngữ</h5>
                        <p>Đội ngũ giáo viên bản ngữ giàu kinh nghiệm luyện thi với chứng chỉ quốc tế và phương pháp giảng dạy hiệu quả</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Học Linh Hoạt</h5>
                        <p>Lớp học online và offline được thiết kế linh hoạt phù hợp với lịch trình và phong cách học tập của bạn</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-award text-primary mb-4"></i>
                        <h5 class="mb-3">Cam Kết Đầu Ra</h5>
                        <p>Chúng tôi cam kết bạn sẽ đạt được điểm số mục tiêu TOEIC, IELTS hoặc TOEFL - học lại miễn phí nếu không đạt</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Tài Liệu Cập Nhật</h5>
                        <p>Tài liệu học tập và đề thi thử toàn diện, được cập nhật liên tục cho mọi trình độ và kỳ thi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="/img/about.jpg" alt="Về EnglishMaster - Trung tâm luyện thi tiếng Anh" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Về Chúng Tôi</h6>
                <h1 class="mb-4">Chào Mừng Đến Với EnglishMaster</h1>
                <p class="mb-4">EnglishMaster là trung tâm luyện thi tiếng Anh hàng đầu Việt Nam, chuyên sâu về các khóa học toàn diện cho kỳ thi TOEIC, IELTS và TOEFL.</p>
                <p class="mb-4">Với hơn một thập kỷ kinh nghiệm, chúng tôi đã thành công hướng dẫn hàng ngàn học viên đạt được điểm số mong muốn, mở ra cánh cửa cho các cơ hội giáo dục và sự nghiệp quốc tế.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Giáo viên bản ngữ chất lượng</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Lớp học online linh hoạt</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cam kết cải thiện điểm số</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Lộ trình học cá nhân hóa</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Tài liệu thi cập nhật mới nhất</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Học thử miễn phí</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="/courses">Xem Khóa Học Của Chúng Tôi</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Đội Ngũ Của Chúng Tôi</h6>
            <h1 class="mb-5">Gặp Gỡ Các Giảng Viên Chuyên Nghiệp</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-1.jpg" alt="Giáo viên John Smith - Chuyên gia TOEIC">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">John Smith</h5>
                        <small>Chuyên Gia TOEIC - 8+ Năm Kinh Nghiệm</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-2.jpg" alt="Giáo viên Sarah Johnson - Chuyên gia IELTS">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Sarah Johnson</h5>
                        <small>Chuyên Gia IELTS - Chứng Chỉ Cambridge</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-3.jpg" alt="Giáo viên Mike Davis - Giảng viên TOEFL">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Mike Davis</h5>
                        <small>Giảng Viên TOEFL - Người Bản Ngữ</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Giáo viên Emily Wilson - Đào tạo tiếng Anh doanh nghiệp">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Emily Wilson</h5>
                        <small>Tiếng Anh Doanh Nghiệp - Đào Tạo Doanh Nghiệp</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->