<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Đội Ngũ Chuyên Gia</h6>
            <h1 class="mb-5">Gặp Gỡ Giảng Viên Tiếng Anh Của Chúng Tôi</h1>
            <p class="mb-5">Đội ngũ giáo viên tiếng Anh được chứng nhận của chúng tôi mang đến nhiều năm kinh nghiệm trong luyện thi và giảng dạy ngôn ngữ để giúp bạn đạt được mục tiêu.</p>
        </div>
        <div class="row g-4">
            {{#each instructors}}
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="/img/team-1.jpg" alt="Giáo viên {{this.firstName}}">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">{{this.firstName}} {{this.lastName}}</h5>
                        <small>Giảng Viên Chuyên Nghiệp</small>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-12 text-center">
                <p>Đang cập nhật danh sách giáo viên...</p>
            </div>
            {{/each}}
        </div>

        <!-- Thống kê đội ngũ -->
        <div class="row mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-12">
                <div class="bg-primary text-white rounded p-5">
                    <div class="row text-center">
                        <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                            <h2 class="text-white mb-2" data-toggle="counter-up">15</h2>
                            <p class="mb-0">Giảng Viên</p>
                        </div>
                        <div class="col-lg-3 col-6 mb-4 mb-lg-0">
                            <h2 class="text-white mb-2" data-toggle="counter-up">1450</h2>
                            <p class="mb-0">Học Viên Thành Công</p>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h2 class="text-white mb-2" data-toggle="counter-up">98</h2>
                            <p class="mb-0">% Hài Lòng</p>
                        </div>
                        <div class="col-lg-3 col-6">
                            <h2 class="text-white mb-2" data-toggle="counter-up">10</h2>
                            <p class="mb-0">Năm Kinh Nghiệm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA Section -->
        <div class="text-center mt-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="bg-light p-5 rounded">
                <h3 class="mb-4">Sẵn Sàng Học Cùng Chuyên Gia Của Chúng Tôi?</h3>
                <p class="mb-4">Tham gia cùng hàng ngàn học viên thành công đã đạt được mục tiêu tiếng Anh với các giảng viên được chứng nhận của chúng tôi.</p>
                <a class="btn btn-primary py-3 px-5" href="/courses">Xem Khóa Học</a>
                <a class="btn btn-outline-primary py-3 px-5 ms-2" href="/contact">Liên Hệ Ngay</a>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->