<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Success Stories</h6>
            <h1 class="mb-5">What Our Students Say!</h1>
            <p class="mb-5">Read inspiring stories from our students who achieved their English goals with EnglishMaster</p>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            <!-- Testimonial 1 -->
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Nguyen Van A</h5>
                <p class="text-primary">TOEIC 850 Points</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <div class="mb-3">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                    </div>
                    <p class="mb-0">"I improved from 600 to 850 in just 3 months! The TOEIC course was perfectly structured and the practice tests were incredibly helpful for the real exam."</p>
                </div>
            </div>

            <!-- Testimonial 2 -->
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Tran Thi B</h5>
                <p class="text-primary">IELTS 7.5 Band</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <div class="mb-3">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                    </div>
                    <p class="mb-0">"Excellent IELTS preparation! The speaking practice with native teachers made all the difference. I got into my dream university in Australia!"</p>
                </div>
            </div>

            <!-- Testimonial 3 -->
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Le Van C</h5>
                <p class="text-primary">TOEFL 105 Points</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <div class="mb-3">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                    </div>
                    <p class="mb-0">"Thanks to EnglishMaster, I achieved 105 in TOEFL and got accepted into a top US university. The writing feedback was particularly valuable."</p>
                </div>
            </div>

            <!-- Testimonial 4 -->
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <h5 class="mb-0">Pham Thi D</h5>
                <p class="text-primary">Business English</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <div class="mb-3">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                    </div>
                    <p class="mb-0">"The Business English course helped me communicate confidently with international clients. I got promoted to International Sales Manager!"</p>
                </div>
            </div>
        </div>

        <!-- Stats Section -->
        <div class="row mt-5">
            <div class="col-lg-3 col-6 text-center">
                <h2 class="text-primary mb-1" data-toggle="counter-up">1500</h2>
                <h6 class="text-uppercase">Students Taught</h6>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <h2 class="text-primary mb-1" data-toggle="counter-up">98</h2>
                <h6 class="text-uppercase">Success Rate %</h6>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <h2 class="text-primary mb-1" data-toggle="counter-up">120</h2>
                <h6 class="text-uppercase">TOEIC 800+</h6>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <h2 class="text-primary mb-1" data-toggle="counter-up">85</h2>
                <h6 class="text-uppercase">IELTS 7.0+</h6>
            </div>
        </div>

        <!-- CTA Section -->
        <div class="text-center mt-5">
            <div class="bg-light p-5 rounded">
                <h3 class="mb-4">Ready to Start Your Success Story?</h3>
                <p class="mb-4">Join our successful students and achieve your English goals with our proven methods.</p>
                <a class="btn btn-primary py-3 px-5" href="/courses">View Courses</a>
                <a class="btn btn-outline-primary py-3 px-5 ms-2" href="/contact">Free Consultation</a>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->